.footer {
  background: #0e0e0e;
  color: #cfcfcf;
  padding: 80px 24px 30px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.3fr 2fr 1fr;
  gap: 50px;
}
.footer-btn {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 21px;
  color: #858181;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.support-row {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}

.support-row .footer-btn {
  margin: 0;
  padding: 0;
}
.footer-btn:hover {
  text-decoration: underline;
}

.footer-brand h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.7;
  color: #aaa;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer-links h4 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 14px;
  letter-spacing: 1px;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #aaa;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
  transform: translateX(4px);
}

.footer-social h4 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 14px;
}

.social-icons {
  display: flex;
  gap: 18px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;         
  border-radius: 8px;   
    width: 40px;       
  height: 40px;
  transition: all 0.3s ease;
}

.social-icons img {
  width: 30px;        
  height: 30px;
  object-fit: contain;
  opacity: 0.85;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a:hover img {
  opacity: 1;
  transform: scale(1.2);
}

.footer-bottom {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
  color: #777;
  border-top: 1px solid #222;
  padding-top: 20px;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-links {
    grid-template-columns: 1fr 1fr;
  }
}