.services-page {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.services-title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 40px;
  color: #111;
}

.services-grid {
  display: grid;
  gap: 26px;
}

.service-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  text-decoration: none;
  color: #111;
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 28px 65px rgba(0, 0, 0, 0.16);
}

.service-img {
  height: 460px;
  overflow: hidden;
}

.service-img img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.service-card:hover img {
  transform: scale(1.08);
}

/* .service-info {
  padding: 1px 1px;
} */

.service-info h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

.service-info p {
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.services-loading,
.services-empty {
  font-size: 16px;
  color: #777;
}

@media (max-width: 768px) {
  .services-title {
    font-size: 28px;
  }

  .service-img {
    height: 160px;
  }
}